body {
    position: sticky;
    top: 0;
}
ol {
    position: sticky;
    top: 0;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
    background-color: rgb(38, 38, 38);
}

ol > * {
    font-size: 1.8em;
}

ol > a, ol > a:link, ol > a:visited, ol > a:hover, ol > a:active {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
    color: whitesmoke;
    text-decoration: none;
}

a:hover { font-weight: bold; }

.chosen { border-bottom: 5px solid white;}
.notChosen { text-decoration: none; }