
<main>
    <h1 class="centr">BOOK & TRAVEL</h1>
    <h2>Top 1 firm wycieczkowych</h2>
    <p class="centr">Witamy na stronie naszego biura turystycznego!</p>

    <button id="homeToOffer" routerLink="/offer">ZOBACZ NASZĄ OFERTĘ</button>

    <div id="homeInfo">
        <p><b>Adres e-mail:</b> bookandtravel@gmail.com</p>
        <p><b>Numer kontaktowy:</b> +48 911 054 076</p>
    </div> <br>
    

    <h4>Odwiedź naszą siedzibę!</h4>
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1353.5138314830224!2d19.912621107347817!3d50.06748006916996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47165ba4e83edb79%3A0x12ec23c8f9c73c78!2sCentrum%20Informatyki%2C%20AGH%2C%20D-17!5e0!3m2!1spl!2spl!4v1673105513122!5m2!1spl!2spl" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</main>
