<main>
    <p>Oceń wycieczkę:</p>
    <img id="star{{trip.id}}-1" class="star" (mouseenter)="mouseOn(1)" (mouseleave)="mouseOut()" (click)="addRate(1)" />
    <img id="star{{trip.id}}-2" class="star" (mouseenter)="mouseOn(2)" (mouseleave)="mouseOut()" (click)="addRate(2)" />
    <img id="star{{trip.id}}-3" class="star" (mouseenter)="mouseOn(3)" (mouseleave)="mouseOut()" (click)="addRate(3)" />
    <img id="star{{trip.id}}-4" class="star" (mouseenter)="mouseOn(4)" (mouseleave)="mouseOut()" (click)="addRate(4)" />
    <img id="star{{trip.id}}-5" class="star" (mouseenter)="mouseOn(5)" (mouseleave)="mouseOut()" (click)="addRate(5)" />
    <p>{{rateValueString}}</p>
</main>
