body {
    background-color: aquamarine;
}
#linkToAdder {
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    pointer-events: all;
    z-index: 100;
    top: 0.4em; left: 0.4em;
    font-size: 2.8em; 
    font-weight: bold;
    text-decoration: none;
    background-color: #00c400;
    color: white;
    padding: 0 0.4em 0.1em 0.4em;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    box-shadow: 0 0 2px grey;
}
#linkToAdder:hover { box-shadow: 0 0 5px grey; }